@font-face {
    font-family: 'MR';
    src: url('../fonts/Montserrat-Regular.ttf') format('woff2'),
        url('../fonts/Montserrat-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MB';
    src: url('../fonts/Montserrat-Bold.ttf') format('woff2'),
        url('../fonts/Montserrat-Bold.ttf') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MEB';
    src: url('../fonts/Montserrat-ExtraBold.ttf') format('woff2'),
        url('../fonts/Montserrat-ExtraBold.ttf') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ML';
    src: url('../fonts/Montserrat-Light.ttf') format('woff2'),
        url('../fonts/Montserrat-Light.ttf') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MM';
    src: url('../fonts/Montserrat-Medium.ttf') format('woff2'),
        url('../fonts/Montserrat-Medium.ttf') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
